* {
  font-size: 62.5%;
}

input {
  font-size: 2.5rem;
  text-align: center;
  border: none;
  outline: none;
  color: rgba(106, 57, 119, 1);
  background-color: inherit;
  margin-bottom: 6rem;
}

@media screen and (min-width: 1024px) {
  input {
    font-size: 5rem;
    margin-bottom: 12rem;
  }
}
