* {
  font-size: 62.5%;
}

.name {
  margin: 2rem auto 3rem auto;
  font-size: 4.5rem;
}

@media screen and (min-width: 1024px) {
  .name {
    margin: 2rem auto 3rem auto;
    font-size: 9rem;
  }
}
