.App {
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgba(174, 226, 117, 1) 0%,
    rgba(246, 211, 255, 1) 67%
  );
  color: #6a3977;

  display: flex;
  flex-direction: column;
}
